
@{
    ViewBag.Title = "CreateUser";
}

<h2>CreateUser</h2>


@using (Html.BeginForm("CreateUser", "Admin", FormMethod.Post))
{

    <div class="row">
        <div class="col-md-6">
            <label class="control-label">User email</label>
            <input type="text" name="txtEmail" class="form-control" />
        </div>


        <div class="col-md-6">
            <label class="control-label">Password</label>
            <input type="text" name="txtPassword" class="form-control" />
        </div>
    </div>


    <div class="row">
        <div class="col-md-12">
            <button type="submit" value="submit" class="btn btn-primary">save</button>

        </div>
    </div>


}
